
{% extends 'pong/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid rounded-4 pong-secondary" id="chat-container" style="height: 80vh;">
	<div class="row h-100">
		<side class="col-3 border-3 border-end p-0" style="border-color: #0C1D40 !important">
			<div class="justify-content-start row w-100 ms-1">
				<p class='fs-2 mt-3 text-white'>Chats</p>
			</div>
			
			<div class="px-3 pb-3 mb-3 d-none d-md-block">
				<div class="input-group pt-3">
					<input type="text" class="form-control" placeholder="Search contacts..." id="search-input"/>
				</div>
			</div>
			
			<div class="contacts px-3">
				<ul class="user-list list-group" id="user-listt">
					{% for friend in friends %}
						<a id="user-list-link" href="" class="list-group-item">
							<img src="{{ friend.image.url }}" alt="{{ friend.user.username }}" class="contact-profile-image">
							{{ friend.user.username }}
						</a>
					{% endfor %}
				</ul>
			</div>
		</side>
		
		<div class="col-9 d-flex flex-column" style="display:none !important;" id="chat-display">
			<div class="shadow p-3 mb-2 row text-center py-4 border-bottom border-3 d-flex align-items-center" style="border-color: #0C1D40 !important;">
				<div class="contact-profile ms-4 col">
					<img id="profile-image" src="" alt=""/>
					<p id="recipient-name" class="fs-4 p-2 mt-3 text-white pt-2"></p>
				</div>
				<div class="col align-self-end d-flex justify-content-end me-5" style="height: 100px;">
					<a class="fs-1 me-5 mt-3" href="#" style="color: #DDEEF1;" id="gamepad"><i class="fa fa-gamepad" aria-hidden="true" type="button" id="gamepad"></i></a>
					<a class="fs-1 ms-5 mt-3" href="#" style="color: #DDEEF1;"><i class="fa fa-ellipsis-v" aria-hidden="true" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i></a>


					<div class="offcanvas offcanvas-end pong-secondary w-25" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
						<div class="offcanvas-header">
							<p id="offcanvasRightLabel" class="fs-2 mx-auto offset-5" style="color: #DDEEF1;">Profile</p>
							<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>

						<div class="offcanvas-body">
							<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
								<div class="card p-4">
									<div class=" image d-flex flex-column justify-content-center align-items-center"> 
										<button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button> 
										<span class="name mt-3">Eleanor Pena</span> <span class="idd">@eleanorpena</span> 
										<div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
											<span class="idd1">Oxc4c16a645_b21a</span> <span><i class="fa fa-copy"></i></span> 
										</div> 
										
										<div class="d-flex flex-row justify-content-center align-items-center mt-3">
											<span class="number">1069 <span class="follow">Followers</span></span>
										</div>
										
										<div class=" d-flex mt-2"> 
											<button class="btn btn-danger">BLOCK USER</button> 
										</div> 
										<div class="text mt-3"> 
											<span>Eleanor Pena is a creator of minimalistic x bold graphics and digital artwork.<br> </span> 
										</div>
										{% comment %} <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> 
											<span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> 
										</div> {% endcomment %}
										<div class=" px-2 rounded mt-4 date ">
											<span class="join">Joined May,2021</span>
										</div> 
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


					
			<div class="messages px-4 flex-grow-1" id="message-view-box" style="height: 80px !important;">
				<ul id="messages" class="list-unstyled">
				</ul>
			</div>
			<div class="message-input px-4 pb-4">
				<form class="input-group">
					<input id="chat-input" type="text" class="form-control" placeholder="Write your message..." />
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary rounded-pill" id="btn-send">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							<span class="d-none d-md-inline-block ml-2">Send</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>

<div id="context-menu" class="context-menu">
    <ul>
        <li id="view-profile">View Profile</li>
        <li id="block-user">Block User</li>
        <li id="invite-to-game">Invite to Game</li>
    </ul>
</div>





{% endblock %}



