body{
	background-color: #0D011A;
}


.big-container {
	background-color: #0D011A;
	/* border: 2px solid white; */
	max-width: 90%;
	height: 85%;
	overflow-y: auto; 
}

.inner-row .col-2{
	border-radius: 25px;
	margin-top: 40px;
	height: 460px;
}

.inner-row .col-7 {
	border-radius: 25px;
	height: 500px;
}

.inner-row .col-2,
.inner-row .col-7 {
	background-color: #0F3066 !important;
	border-color: transparent; 
}

.col-2 { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-list {
    position: relative;
    top: 7%;
    left: 3%;
    width: 100%; 
    background-color: transparent;
    padding: 10px;
    /* z-index: 1;  */
}

.notification-row {
	height: 20%;
    background-color: #DDEEF1;
    border-radius: 15px; 
    padding: 10px 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


