
{% extends 'pong/base.html' %}

{% block content %}
    <div id="tournament">
        <div id = "mygame">
            <div class="canvas_container">
                <div class="row">
                    <div class="col">
                        <canvas id="gameCanvas" width="600" height="400"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="start_play_computer" class="btn btn-outline-light" type="submit" onclick="start_play_computer()">Start</button> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
