{% extends 'pong/base.html' %}
{% load crispy_forms_tags %}


{% block content%}

<div class="container-fluid rounded-4 history">
    <div class= "p-content-section second">
        <div class="media-body row pl1">
            <div class="align-bottom">
                <img class=" article-img" src="{{user.profile.image.url}}">
            </div>
            <div class="align-bottom pname">
                player1
            </div>
            <div class="scorebx plyr1">
                <div class="score-box">10</div>				
            </div>
        </div>
        <div class="media-body row pl2">
            <div class="scorebx plyr2">
                <div class="score-box">8</div>				
            </div>
            <div class="align-bottom pname">
                player2
            </div>
            <div class="align-bottom">
                <img class=" article-img" src="{{user.profile.image.url}}">
            </div>
        </div>
    </div>
    {%for match in context%}
            <li class="myhistory"> {{match.player1.username}} vs {{match.player2.username}} </li>
    {%endfor%}

</div>

{% endblock %}