{% extends 'pong/base.html' %}
{% load crispy_forms_tags %}


{% block content%}

<div class="container-fluid rounded-4 history">
    {%for match in mhistory%}
        <div class= "p-content-section second">
            <div class="media-body row pl1">
                <div class="align-bottom">
                    <img class=" article-img" src="{{user.profile.image.url}}">
                </div>
                <div class="align-bottom pname plyr1">
                    {{match.player1}}
                </div>
                <div class="scorebx">
                    <div class="score-box">{{match.player1_score}}</div>				
                </div>
            </div>
            <div class="media-body row pl2">
                <div class="scorebx">
                    <div class="score-box">{{match.player2_score}}</div>				
                </div>
                <div class="align-bottom pname plyr2">
                    {{match.player2}}
                </div>
                <div class="align-bottom">
                    <img class=" article-img" src="{{user.profile.image.url}}">
                </div>
            </div>
        </div>
    {%endfor%}

</div>

{% endblock %}