
{% extends 'pong/base.html' %}
{% load crispy_forms_tags %}


{% block content%}


<!-- <div class="container big-container"> -->
<div class="container-fluid rounded-4">
    <div class="row">
		<div class="col-12">
			
			<div class="inner-row">
				<div class="row align-items-center justify-content-between">
					<div class="col-2 bg-light p-2  ">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
					
					<div class="col-7 bg-light p-2">
                        <p class="fs-1 fw-bold title"> Welcome {{ user }}</p>
                        <img src="/media/svg_2.png" class="figure-img img-fluid rounded mx-auto d-block" alt="...">
						
					</div>
					<div class="col-2 bg-light p-2">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
				</div>	
			</div>
			
			



			<div class="inner-row">
				<div class="row align-items-center justify-content-between">
					<div class="col-2 bg-light p-2">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
					<div class="col-2 bg-light p-2">
						<a id="quickmatch" href="#">
                        <p class="fs-2 fw-bold title"> Quick Match</p>
                        <img src="/media/qmatch.png" class="picture middlePicturefigure-img img-fluid rounded mx-auto d-block" alt="..." style="max-width:2 PX WIDER THAN IMAGEpx;">
						</a>
					</div>
					<div class="col-2 bg-light p-2">
						
					</div>
					<div class="col-2 bg-light p-2">
						
					</div>
					<div class="col-2 bg-light p-2">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

{% endblock %}
