
{% extends 'pong/base.html' %}
{% load crispy_forms_tags %}


{% block content%}


<!-- <div class="container big-container"> -->
<div class="container-fluid rounded-4">
    <div class="row">
		<div class="col-12">
			
			<div class="inner-row">
				<div class="row align-items-center justify-content-between">
					<div class="col-2 bg-light p-2  ">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
					
					<div class="col-7 bg-light p-2">
                        <p class="fs-1 fw-bold title"> Welcome {{user}}</p>
                        <img src="/media/svg_2.png" class="figure-img img-fluid rounded mx-auto d-block" alt="...">
						
					</div>
					<div class="col-2 bg-light p-2">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
				</div>	
			</div>
			
			



			<div class="inner-row">
				<div class="row align-items-center justify-content-between">
					<div class="col-2 bg-light p-2">
						<i class="fa fa-bell" style="font-size:32px;color:#DDEEF1"></i>
						<div class="notification-list row align-items-center justify-content-between">
							<div class="notification-row">Notification 1</div>
							<div class="notification-row">Notification 2</div>
							<div class="notification-row">Notification 3</div>
							<div class="notification-row">Notification 4</div>
							<div class="notification-row">Notification 5</div>
						</div>
					</div>
					<div class="col-2 bg-light p-2">
						<a id="quickmatch" href="#" style="text-decoration: none;">
                        <p id="quickmatch" class="fs-2 fw-bold title"> Quick Match</p>
					    </a>
                        <img src="/media/qmatch.png" class="picture middlePicturefigure-img img-fluid rounded mx-auto d-block" alt="..." style="max-width:2 PX WIDER THAN IMAGEpx;">
						<!-- <div id="quickmatch" class="card" style="width: 100%; height: 100%;">
							<img src="/media/qmatch.png" class="card-img-top" alt="...">
							<div id="quickmatch" class="card-body">
							  <h5 id="quickmatch" class="card-title"> Quick Match</h5>
							</div>
						  </div> -->
					</div>
					<div class="col-2 bg-light p-2">
						<a id="tournament" href="#" style="text-decoration: none;">
							<p id="tournament" class="fs-2 fw-bold title"> Tournament</p>
						</a>
					</div>
					<div class="col-2 bg-light p-2">
						<a id="game_computer" href="#" style="text-decoration: none;">
                        	<p id="game_computer" class="fs-2 fw-bold title"> vs Computer</p>
					    </a>
                        <img src="/media/qmatch.png" class="picture middlePicturefigure-img img-fluid rounded mx-auto d-block" alt="..." style="max-width:2 PX WIDER THAN IMAGEpx;">
					</div>
					<div class="col-2 bg-light p-2">
						<a id="matchhistory" href="#" style="text-decoration: none;">
							<p id="matchhistory" class="fs-2 fw-bold title"> Match History</p>
						</a>
						<div class="notification-list row align-items-center justify-content-between">
							{%for match in mhistory%}
								<div class="player-box">
									<img src="{{user.profile.image.url}}" alt="Player 1" class="player-img pl1">
									<span class="player-name">{{match.player1}}</span>
									<span class="score">{{match.player1_score}}</span>  <span class="score">{{match.player2_score}}</span>
									<span class="player-name">{{match.player2}}</span>
									<img src="{{user.profile.image.url}}" alt="Player 2" class="player-img pl2">
								</div>
								<!-- <ul class="list-group list-group-horizontal">
									<li class="list-group-item">An item</li>
									<li class="list-group-item">An item</li>
								</ul> -->
							{%endfor%}
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

{% endblock %}
