
{% extends 'pong/base.html' %}

{% block content %}
	<div class="p-left">
		<div class= "p-content-section"></div>
		<div class= "p-content-section"></div>
		<div class= "p-content-section"></div>
		<div class= "p-content-section"></div>
		<div class= "p-content-section"></div>
	</div>
	<div class="p-right">
		<div class="content-section">
			{% if user.is_authenticated %}
				<button id="connect1" class="btn p-custom-btn" type="submit">Quick Match Online</button> <br>
			{% endif %}
		</div>
	</div>
{% endblock %}
