{% extends 'pong/base.html' %}

{% block content %}
	<div class="p-left">
		{% if users|length > 0 %}
			<h2 class="text-light">Players</h2>
		{% endif %}
		{% for user in users %}			
			<div class= "p-content-section">
				<div class="media-body row">
					<div class="col-md-2 align-bottom">
						<img class=" article-img" src="{{user.profile.image.url}}">
					</div>
					<div class="col-md-6 align-bottom">
						<table id="u_table">
							<tr  id="u_tr">
								<th  id="u_th">Username</th>
								<th  id="u_th">Nickname</th>
								<th  id="u_th">Date Joined</th>
								<th  id="u_th">Status</th>
							</tr>
							<tr  id="u_tr">
								<td id="u_td">{{user.username}}</td>
								<td id="u_td">{{user.user_things.nick}}</td>
								<td id="u_td">{{user.date_joined|date:"d/m/y"}}</td>
								<td id="u_td">{{user.user_things.status}}</td>
							</tr>
						</table>
					</div>
					<!-- <div class="col-md-3">
						<button class="btn btn-outline-light" onclick="challenge('{{user.username}}')" >Challenge</button>				
					</div> -->
				</div>
			</div>							  
		{% endfor %}
	</div>
	<div class="p-right">
		<div class="content-section text-center">
			{% if user.is_authenticated %}
				<button id="play_online" class="btn btn-outline-light mb-3" type="submit" width="200" height="100">Play Online</button> <br>
				<button id="game_computer" class="btn btn-outline-light mb-3" type="submit">Play Computer </button> <br>
			{% endif %}
		</div>
	</div>

{% endblock %}

