
{% extends 'pong/base.html' %}

{% block content %}
            <div id="tournament" class="canvas_container" class="container border">
                <div id="playerNames" class="player-names-container">
                    <div id="player1Name" class="player-name">Player 1</div>
                    <div id="player2Name" class="player-name">Player 2</div>
                </div>
                <div class="row">
                    <div class="col">
                        <canvas id="gameCanvas" width="600" height="400"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="start_play_computer" class="btn btn-outline-light mt-3" type="submit" onclick="start_local_game()">Start</button> <br>
                    </div>
                </div>
            </div>
{% endblock %}

