<div id="tournament">
        
    <div class="container2">
      <div class="split split-one">
        <div class="round round-one current">
          <div class="round-details">
            Round 1<br />
          </div>
          <div class="matches">
            <ul class="matchup">
              <li class="team team-top">
                <img src="/media/pro3.jpeg" alt="Player2's profile picture">
                {{ player_names.0 }}<input class="score-input" type="number" value=""></li>
              <li class="team team-bottom">
                <img src="/media/pro3.jpeg" alt="Player2's profile picture">
                {{ player_names.1 }} <input class="score-input" type="number" value=""></li>
            </ul>
          </div>
        </div>
        <!-- END ROUND ONE -->
      </div>

      <div class="champion">
        <div class="final">
          <i class="fa fa-trophy"></i>
          <div class="round-details finround">
            Final <br />
          </div>
          <div class="matches">
            <ul class="matchup championship">
              <li class="team team-top"> 
                <img src="/media/pro3.jpeg" alt="Player2's profile picture">
                &nbsp;<span class="vote-count">&nbsp;</span></li>
              <li class="team team-bottom">
                <img src="/media/pro3.jpeg" alt="Player2's profile picture">
                &nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="split split-two">
        <!-- END ROUND THREE -->

        <div class="round round-one current">
          <div class="round-details">
            Round 1<br />
          </div>
          <div class="matches">
            <ul class="matchup">
              <li class="team team-top">
                <img src="/media/profile.jpeg" alt="Player2's profile picture">
                {{ player_names.2 }}<input class="score-input" type="number" value=""></li>
              <li class="team team-bottom">
                <img src="/media/profile.jpeg" alt="Player2's profile picture">
                {{ player_names.3 }} <input class="score-input" type="number" value=""></li>
            </ul>
          </div>
        </div>
        <!-- END ROUND ONE -->
      </div>
    </div>
  <!-- </section> -->
</div>