
{% extends 'pong/base.html' %}

{% block content %}
    <div id="tournament">
        <div id = "mygame">
            <div class="canvas_container">
                <p id="player1" class="player-name">Michael:</p>
                <p id="score1" class="score">00</p>
                <p id="player2" class="player-name">Haile:</p>
                <p id="score2" class="score">00</p>
                <div id="end_game"> </div>
                <canvas id="gameCanvas" width="800" height="400"></canvas>
                <button id="start_quick_match" class="btn p-custom-btn text-center" type="submit">Start</button> <br>
            </div>
        </div>
    </div>
{% endblock %}
