{% extends 'pong/base.html' %}
{% load crispy_forms_tags %}


{% block content%}
    <div id="tourn" class="container-fluid rounded-4 history">
        <div class="row row-cols-1 row-cols-md-3 g-4" style="justify-content: center;">
            <div class="col">
                <a id="fourPlayers" href="#" style="text-decoration: none;">
                <div id="fourPlayers" class="card" style="width: 18rem; height: 14rem;">
                    <div id="fourPlayers" class="card-body">
                        <h5 id="fourPlayers"  class="card-title">4 Players</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a id="eightPlayers" href="#" style="text-decoration: none;">
                <div id="eightPlayers" class="card" style="width: 18rem; height: 14rem;">
                    <div id="eightPlayers" class="card-body">
                        <h5 id="eightPlayers" class="card-title">8 Players</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div id="messages"></div>
    </div>
{% endblock %}