.contact-profile { 
	width: 30%;
	height: 100px; 
	display: flex;
	align-items: center;
	padding: 10px;
}

.contact-profile img {
	width: 15%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 15px;
}

.messages {
	height: auto;
	min-height: calc(100% - 230px);
	max-height: calc(100% - 93px);
	overflow-y: scroll;
	overflow-x: hidden;
}

@media screen and (max-width: 735px) {
	.messages {
		max-height: calc(100% - 105px);
	}
}

.messages::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

.messages::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
}

.messages ul li {
	display: inline-block;
	clear: both;
	margin: 15px 15px 5px 15px;
	width: calc(100% - 25px);
	font-size: 0.9em;
}

.messages ul li:nth-last-child(1) {
	margin-bottom: 20px;
}

.messages ul li.sent img {
	width: 20px;
	height: 20px;
	margin: 6px 8px 0 0;
}

.messages ul li.sent p {
	background: #2685BF;
	color: #DDEEF1;
}

.messages ul li.replies img {
	width: 20px;
	height: 20px;
	float: right;
	margin: 6px 0 0 8px;
}

.messages ul li.replies p {
	background: #0C1D40;
	color: #DDEEF1;
	float: right;
}

.messages ul li img {
	width: 22px;
	border-radius: 50%;
	float: left;
}

.messages ul li p {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 20px;
	max-width: 205px;
	line-height: 130%;
}

@media screen and (min-width: 735px) {
	.messages ul li p {
		max-width: 300px;
	}
}


/* Style the custom offcanvas position and width */
.custom-offcanvas {
  position: absolute;
  width: 300px; /* Set the desired width */
  max-width: 100%; /* Ensure the offcanvas doesn't exceed the parent container width */
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border-left: 1px solid #0C1D40;
}

/* Style the custom offcanvas header */
.custom-offcanvas .offcanvas-header {
  border-bottom: 1px solid #0C1D40;
}

/* Style the custom offcanvas body */
.custom-offcanvas .offcanvas-body {
  padding: 0;
}

/* Style the custom offcanvas scrollbar */
.custom-offcanvas::-webkit-scrollbar {
  width: 10px;
}

.custom-offcanvas::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.custom-offcanvas::-webkit-scrollbar-thumb {
  background-color: #0C1D40;
}

.custom-offcanvas::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}