body {
    font-family: Arial, sans-serif;
    background-color: #0D011A;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D011A;
    color: #fff;
    padding: 1em;
}

#main-container {
    max-width: 1300px;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3367d6;
}

.list-container {
    text-align: left;
}

.article-content {
    text-align: left;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-img4 {
    height: 15px;
    width: 15px;
}

.article-img2 {
    height: 20px;
    width: 20px;
    margin-right: 16px;
}

.article-img3 {
    height: 100px;
    width: 100px;
    margin-right: 5px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    border: 4px solid #e2e2e2;
}

.nav-img {
    height: 45px;
    width: 45px;
    margin-right: 20px;
    margin-bottom: 16px;
    border: 2px solid #dbdfee;
}

.content-section {
    background: #0F3066;
    color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#login-section {
    background-color: #ebf7fb;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#login-section-inside {
    padding: 20px;
    max-width: 500px;
    width: 450px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
}

.login-section {
    padding: 60px;
}

#sidebar {
    color: #e3e3e3;
    background-color: #130028;
    text-align: center;
}

.light-weight {
    color: #5488b3;
}
/* text-shadow: 1px 1px 8px rgb(81, 81, 81); */

.left {
    width: 60%;
    height: 100vh;
    float: left;
    background-color: #ebf7fb;
    margin: 0;
}

.right {
    width: 40%;
    height: 100vh;
    float: left;
    background-image: linear-gradient(#0D011A, #2c0654); 
    /* background-color: #0D011A;  */
    color: #fff;
    margin: 0;
}

.p-left {
    width: 60%;
    height: 100vh;
    float: left;
    background-color: #0D011A;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.p-right {
    width: 40%;
    height: 100vh;
    float: left;
    background-color: #0D011A; 
    color: #fff;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.p-content-section {
    background: #0F3066;
    color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.p-content-section.second {
    background:  #DDEEF1;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
}
.align-bottom.pname {
    font-size: 2.2rem;
    color: black;
}

.media-body.row.pl1 {
    padding-left: 5%;
    padding-right: 5%;
}

.media-body.row.pl2 {
    padding-left: 2%;
}

.media-body.row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.score-box {
    border: 1px solid black;
    padding: 20px;
    color: #2CB3C9;
    display: grid;
    justify-content: center;
}

.custom-btn {
    background-color: #2d376e;
    color: #fff;
    border-radius: 20px;
}

.scorebx {
    width: 10%;
    justify-content: center;
}

.align-bottom.pname.plyr2 {
    text-align: right;
}

.p-custom-btn {
    background-color: #0D011A;
    color: #fff;
    border-radius: 20px;
}

.p-custom-btn:hover {
    background-color: #240348;
}

.stylish {
    font-family:'Courier New', Courier, monospace;
}

#p_table {
    width: 100%;
}

#p_th, #p_td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#p_td {
    height: 50px;
    vertical-align: bottom;
}

#u_th, #u_td {
    padding-right: 35px;
}

#u_th {
    font-size: 10px;
    font-weight: normal;
    color: #8f8f8f;
}

#u_td {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}

canvas {
    border: 8px solid #7b85dd;
    border-radius: 5px;
    background-color: #0D011A;
    display: block;
    margin: 20px auto;
}

.custom-border-radius {
    border-radius: 20px!important;
}

.nav-link{
	color: #DDEEF1;
}

@media (min-width: 1340px) {
	.container-xxl {
	  	max-width: 2200px;
	}
}

.pong-secondary {
	background-color: #0F3066;
}

.pong-primary {
	background-color: #0D011A;
}

/* homepage.html  */
p.fw-bold.title {
    font-size: 1.5rem !important;
    color: #DDEEF1;
}

p.fs-1.fw-bold.title {
    margin-top: 7%;
    margin-left: 10%;
}

.container-fluid.rounded-4.history {
    background-color:#0F3066;
    height: 100vh;
    width: 98%;
    padding-top: 10px;
}


.list-group.list-group-horizontal {
  margin-top: 0.75rem !important;
}

@media (max-width: 600px) {
    .container-fluid {
        width: 100%;
    }
    
}


.player-box {
    background:  #DDEEF1;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.player-img.pl1 {
    margin-right: 10px;
}
.player-img.pl2 {
    margin-left: auto;
}

.player-name {
    font-weight: bold;
    font-size: 0.5rem;
    margin-right: 2px;
}
.score {
    margin-right: 2px;
    border: 1px solid black;
    font-size: 0.5rem;
}

/* .card { 
    margin-right: 10px;
    width: 40px;
    height: 100px; 
    border-radius: 10px;
    background: #DDEEF1;;
    padding: 10px; 
    text-align: center; 
} */


#messages {
    font-size: 20px;
    color: #DDEEF1;
}


.player-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  /* Add some spacing between entries if needed */
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;  /* Add spacing between the image and the text */
}

.player-entry p {
    margin: 0;  /* Remove default margin from the paragraph */
}



#playerFormContainer {
    display: none;
    background-color: #DDEEF1;
}
.player-input {
    margin-bottom: 10px;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
/* Custom CSS for square box */
.square-box {
    max-width: 500px; /* Adjust as needed */
    max-height: 500px; /* Same as width for square */
    min-width: 300px; /* Adjust as needed */
    min-height: 300px; /* Same as width for square */
    padding: 20px;
    border-radius: 10px;
    background-color: #DDEEF1;
    color: black;
}