{% extends "pong/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="p-left">
	<div class= "p-content-section">
		<div class="text-center">
			<img class="rounded-circle account-img ml-4" src="{{ user.profile.image.url }}">
			<h2 class="account-heading">{{ user.user_things.nick }}</h2>
			<button class="btn btn-light mt-4" type="submit">Enable 2FA</button> <br>
			<button id="logout" class="btn btn-light mt-4" type="submit">Log out</button>
		</div>
		<form id="profile-form" method="POST" class="form-signin" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group text-left px-4">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form2|crispy }}
				<p>{{ u_form|crispy }}</p>
				<p>{{ p_form|crispy }}</p>
			</fieldset>
			<div class="form-group text-center">
				<button id="update" class="btn btn-light" type="submit">Update</button>
			</div>
		</form>
	</div>
	{% if friends2|length > 0 %}
		<h2 class="text-light">Friends</h2>
	{% endif %}
	{% for friend in friends2 %}
	<div class= "p-content-section">
			<div class="media-body row">
				<div class="col-md-2 align-bottom">
					<img class=" article-img" src="{{friend.profile.image.url}}">
				</div>
				<div class="col-md-6 align-bottom">
					<table id="u_table">
						<tr  id="u_tr">
							<th  id="u_th">Username</th>
							<th  id="u_th">Nickname</th>
							<th  id="u_th">Date Joined</th>
							<th  id="u_th">Status</th>
						</tr>
						<tr  id="u_tr">
							<td id="u_td">{{friend.username}}</td>
							<td id="u_td">{{friend.user_things.nick}}</td>
							<td id="u_td">{{user.date_joined|date:"d/m/y"}}</td>
							<td id="u_td">{{friend.user_things.status}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4 text-center">
					<button class="btn btn-danger " onclick="removeFriend('{{friend.username}}')" >Remove Friend</button>					
				</div>
			</div>
	</div>
	{% endfor %}
	{% if users|length > 0 %}
		<h2 class="text-light">Users</h2>
	{% endif %}
	{% for user in users %}			
		{% if user.username not in friends %}
		<div class= "p-content-section">
			<div class="media-body row m-0">
				<div class="col-md-2 align-bottom">
					<img class=" article-img" src="{{user.profile.image.url}}">
				</div>
				<div class="col-md-6 align-bottom">
					<table id="u_table">
						<tr  id="u_tr">
							<th  id="u_th">Username</th>
							<th  id="u_th">Nickname</th>
							<th  id="u_th">Date Joined</th>
						</tr>
						<tr  id="u_tr">
							<td id="u_td">{{user.username}}</td>
							<td id="u_td">{{user.user_things.nick}}</td>
							<td id="u_td">{{user.date_joined|date:"d/m/y"}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4 text-center">
					<button class="btn btn-success" onclick="addFriend('{{user.username}}')" >Add Friend</button>				
				</div>
			</div>
		</div>
		{% endif %}								  
	{% endfor %}
</div>
<div class="p-right">
	<div class="content-section">
		<table id="p_table">
			<tr id="p_tr">
				<th id="p_th">TOTAL MATCH</th>
				<th id="p_th">WON</th>
				<th id="p_th">LOST</th>
				<th id="p_th">Draw</th>
			</tr>
			<tr id="p_tr">
				<td id="p_td">{{total_match}}</td>
				<td id="p_td">{{total_win}}</td>
				<td id="p_td">{{total_lose}}</td>
				<td id="p_td">{{total_draw}}</td>
			</tr>
		</table>
	</div>
	<div class="content-section">
		<table>
			<tr id="p_tr">
				<th id="p_th">TOTAL MATCH</th>
				<th id="p_th">WON</th>
				<th id="p_th">LOST</th>
				<th id="p_th">WINNING RATE</th>
				<th id="p_th">TOTAL POINTS</th>
			</tr>
			<tr id="p_tr">
				<td id="p_td">243</td>
				<td id="p_td">123</td>
				<td id="p_td">120</td>
				<td id="p_td">50%</td>
				<td id="p_td">1234</td>
			</tr>
			<tr id="p_tr">
				<td id="p_td">243</td>
				<td id="p_td">123</td>
				<td id="p_td">120</td>
				<td id="p_td">50%</td>
				<td id="p_td">1234</td>
			</tr>
			<tr id="p_tr">
				<td id="p_td">243</td>
				<td id="p_td">123</td>
				<td id="p_td">120</td>
				<td id="p_td">50%</td>
				<td id="p_td">1234</td>
			</tr>
			<tr id="p_tr">
				<td id="p_td">243</td>
				<td id="p_td">123</td>
				<td id="p_td">120</td>
				<td id="p_td">50%</td>
				<td id="p_td">1234</td>
			</tr>
		</table>
		
	</div>
</div>
{% endblock %}