:root {
	--background-color: #121421;
	--card-accent-color: #1a1f33;
	--text-color: #fff;
	--text-accent-color: #8f9ecc;
	--button-primary-color: #0d36c9;
	--hover-color: #1c1c24;
	--message-received-color: #292b38;
	--message-sent-color: #1730b5;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Arial, sans-serif;
	overflow-y: scroll;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

#main-container {
	flex: 1;
}
