:root {
	--background-color: #121421;
	--card-accent-color: #1a1f33;
	--text-color: #fff;
	--text-accent-color: #8f9ecc;
	--button-primary-color: #0d36c9;
}

html {
	display: flex;
	justify-content: center;
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background-color);
	overflow-x: hidden;
	color: var(--text-color);
}
