.login-container {
	padding: 20px 0;
}

.login-form-wrapper {
	max-width: 512px;
	padding: 20px 0;
}

.login-title {
	font-size: 22px;
	color: var(--color-text-primary);
	font-weight: 700;
	letter-spacing: -0.33px;
	padding: 20px 16px 12px;
}

.login-welcome-text {
	padding: 0 60px;
}

@media (max-width: 991px) {
	.login-welcome-text {
		padding: 0 20px;
	}
}

.form {
	padding: 12px 0px;
}

.form-group {
	font-size: 16px;
	color: var(--color-text-accent);
	font-weight: 400;
	line-height: 150%;
	padding: 12px 16px;
}

.form-group__box {
	border-radius: 12px;
	background-color: var(--color-input-background);
}

.form-group__input {
	border-radius: 12px;
	padding: 16px;
	width: 100%;
	background-color: var(--color-input-background);
	border: none;
	outline: none;
	color: var(--color-text-primary);
}

.form-group__button-wrapper {
	padding: 12px 16px;
}

.form-group__button {
	background-color: var(--color-button-primary);
	border: none;
	border-radius: 12px;
	font-weight: 700;
	padding: 12px 16px;
	width: 100%;
	cursor: pointer;
}

.login-or-text {
	color: var(--color-text-accent);
	font-weight: 400;
	padding: 4px 16px 12px;
}

@media (max-width: 991px) {
	.login-or-text {
		white-space: initial;
	}
}

.login-continue-button-wrapper {
	color: var(--color-text-primary);
	font-weight: 700;
	padding: 12px 16px;
}

.login-other-button {
	background-color: var(--color-button-secondary);
	border: none;
	border-radius: 12px;
	color: var(--color-text-primary);
	font-weight: 700;
	padding: 10px 16px;
	width: 100%;
	cursor: pointer;
}

.login-new-user-text {
	color: var(--color-text-accent);
	font-weight: 400;
	padding: 4px 16px 12px;
}

@media (max-width: 991px) {
	.login-new-user-text {
		white-space: initial;
	}
}

.login-create-account-wrapper {
	color: var(--color-text-primary);
	font-weight: 700;
	padding: 12px 16px;
}

.login-create-account-button {
	background-color: var(--color-button-teritiary);
	border: none;
	border-radius: 12px;
	color: var(--color-text-primary);
	font-weight: 700;
	padding: 10px 16px;
	width: 100%;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
