.login-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
}

.login-form-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 512px;
	width: 100%;
	padding: 20px 0;
}

.login-title {
	display: flex;
	justify-content: center;
	font-size: 22px;
	color: var(--text-color-primary);
	font-weight: 700;
	text-align: center;
	letter-spacing: -0.33px;
	padding: 20px 16px 12px;
}

.login-welcome-text {
	text-align: center;
	padding: 0 60px;
}

@media (max-width: 991px) {
	.login-welcome-text {
		padding: 0 20px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	padding: 12px 0px;
}

.form-group {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: var(--text-accent-color);
	font-weight: 400;
	line-height: 150%;
	padding: 12px 16px;
	justify-content: center;
}

.form-group__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-group__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-radius: 12px;
	background-color: var(--input-background-color);
}

.form-group__input {
	border-radius: 12px;
	padding: 16px;
	width: 100%;
	background-color: var(--input-background-color);
	border: none;
	outline: none;
	color: var(--text-color-primary);
}

.form-group__button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
}

.form-group__button {
	background-color: var(--button-primary-color);
	border: none;
	border-radius: 12px;
	color: var(--text-color-primary);
	font-weight: 700;
	padding: 12px 16px;
	width: 100%;
	cursor: pointer;
}

.login-or-text {
	display: flex;
	color: var(--text-accent-color);
	font-weight: 400;
	text-align: center;
	padding: 4px 16px 12px;
}

@media (max-width: 991px) {
	.login-or-text {
		white-space: initial;
	}
}

.login-continue-button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-color-primary);
	font-weight: 700;
	padding: 12px 16px;
}

.login-other-button {
	background-color: var(--other-button-background-color);
	border: none;
	border-radius: 12px;
	color: var(--text-color-primary);
	font-weight: 700;
	padding: 10px 16px;
	width: 100%;
	cursor: pointer;
}

.login-new-user-text {
	display: flex;
	color: var(--text-accent-color);
	font-weight: 400;
	text-align: center;
	padding: 4px 16px 12px;
}

@media (max-width: 991px) {
	.login-new-user-text {
		white-space: initial;
	}
}

.login-create-account-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-color-primary);
	font-weight: 700;
	padding: 12px 16px;
}

.login-create-account-button {
	background-color: var(--create-account-button-background-color);
	border: none;
	border-radius: 12px;
	color: var(--text-color-primary);
	font-weight: 700;
	padding: 10px 16px;
	width: 100%;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
