
.navbar .container-xxl {
	width: 1228px;
	margin: 20px 0 20px 0;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo-image {
	width: 30px;
	object-fit: contain;
	object-position: center;
}

.header__title {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	margin-left: 8px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand img {
	margin-right: 8px;
}

.nav-link {
	font-size: 16px;
	color: #fff;
}

.nav-link:hover {
	color: #2442e8;
	transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.btn {
	color: #fff;
	background-color: #2442e8;
	border-radius: 20px;
	font-weight: 700;
	text-align: center;
}

.navbar-dark .navbar-nav .nav-link.btn:hover {
	background-color: #1a1f33;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}
