.navbar .container-xxl {
	width: 100%;
	max-width: 1228px;
	margin: 20px auto;
	padding: 0 15px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand img {
	margin-right: 8px;
}

.nav-link {
	font-size: 16px;
	color: var(--text-color);
}

.nav-link:hover {
	color: var(--button-primary-color);
	transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.btn {
	color: var(--text-color);
	background-color: var(--button-primary-color);
	border-radius: 20px;
	font-weight: 700;
	text-align: center;
}

.navbar-dark .navbar-nav .nav-link.btn:hover {
	background-color: var(--card-accent-color);
	color: var(--text-color);
	transition: background-color 0.3s ease-in-out;
}
