.profile-container__ {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-color);
	padding-bottom: 40px;
}

.profile-header {
	margin-top: 36px;
	color: var(--text-color);
	font-weight: 700;
	max-width: 928px;
}

.profile-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image {
	width: 128px;
	aspect-ratio: 1;
	object-fit: cover;
	border: 5px solid var(--text-color);
}

.profile-name {
	margin-top: 16px;
	font-size: 22px;
	font-family: Space Grotesk, sans-serif;
	text-align: center;
	letter-spacing: -0.33px;
}

.profile-actions {
	display: flex;
	gap: 12px;
	margin-top: 16px;
	font-size: 14px;
	letter-spacing: 0.21px;
	line-height: 150%;
}

.profile-action-edit {
	padding: 10px 16px;
	border-radius: 24px;
	background-color: var(--message-received-color);
	color: var(--text-color);
	border: none;
}

.profile-action-play {
	padding: 10px 16px;
	border-radius: 24px;
	background-color: var(--button-primary-color);
	color: var(--text-color);
	border: none;
}

.stats-section {
	width: 100%;
	max-width: 960px;
	padding: 12px 16px;
}

.stats-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.stats-column {
	flex: 1;
	min-width: calc(33.33% - 20px);
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	.stats-column {
		min-width: 100%;
	}
}

.stats-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid rgba(61, 64, 84, 1);
	flex-grow: 1;
}

.stats-content {
	display: flex;
	flex-direction: column;
}

.stats-number {
	color: var(--text-color);
	font-size: 24px;
	font-weight: 700;
	font-family: Space Grotesk, sans-serif;
	letter-spacing: -0.6px;
}

.stats-label {
	color: var(--text-accent-color);
	margin-top: 8px;
	font-size: 14px;
	font-family: Space Grotesk, sans-serif;
}

.highlighted-tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 1px 20px;
	border-bottom: 1px solid var(--card-accent-color);
	font-size: 14px;
	font-weight: 700;
	color: var(--text-accent-color);
	white-space: nowrap;
	text-align: center;
	letter-spacing: 0.21px;
	line-height: 150%;
}

.highlighted-label,
.highlighted-stats,
.highlighted-friends {
	font-family: Space Grotesk, sans-serif;
	font-feature-settings: "dlig" on;
}

.highlighted-stats.active {
	color: var(--text-color);
	border-bottom: 3px solid #007bff;
}

.history-section,
.friends-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-color);
	width: 100%;
	max-width: 960px;
	gap: 20px;
	padding: 8px 16px;
	line-height: 150%;
	overflow-y: scroll;
	scrollbar-width: none;
}

.history-section::-webkit-scrollbar,
.friends-section::-webkit-scrollbar {
	display: none;
}

.history-item,
.friend-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-right: 80px; */
	gap: 16px;
}

.history-image,
.friend-image {
	width: 56px;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
}

.history-details,
.friend-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0;
}

.history-title,
.friend-name {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	font-family: Space Grotesk, sans-serif;
}

.history-time {
	color: var(--text-accent-color);
	font-size: 14px;
	font-family: Space Grotesk, sans-serif;
}

.history-score {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
	font-family: Space Grotesk, sans-serif;
	margin: auto 0;
}

@media (max-width: 991px) {
	.profile-header,
	.stats-section,
	.history-section,
	.friends-section {
		max-width: 100%;
	}

	.profile-actions {
		white-space: initial;
	}

	.stats-container {
		flex-direction: column;
		align-items: stretch;
		gap: 0;
	}

	.stats-column {
		width: 100%;
	}

	.stats-item {
		margin-top: 24px;
		padding: 0 20px;
		white-space: initial;
	}

	.highlighted-tab {
		flex-wrap: wrap;
		white-space: initial;
	}

	.highlighted-stats {
		white-space: initial;
	}

	.history-section,
	.friends-section {
		flex-wrap: wrap;
	}

	.history-item,
	.friend-item {
		flex-wrap: wrap;
	}
}

.controls {
	margin-bottom: 20px;
}

.controls button,
.controls select {
	background-color: var(--button-primary-color);
	border: none;
	color: var(--text-color);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}

.controls button:hover,
.controls select:hover {
	background-color: var(--hover-color);
}

.controls select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

canvas {
	width: 100%;
	height: 400px;
	background: var(--card-accent-color);
	border: 1px solid var(--hover-color);
	border-radius: 8px;
}

/* .profile-image {
	border: 5px solid var(--text-color);
} */

.profile-actions .btn {
	min-width: 100px;
}

.highlighted-tab {
	cursor: pointer;
}

.highlighted-tab > div {
	padding: 10px;
	cursor: pointer;
}

.highlighted-tab > .active {
	font-weight: bold;
	border-bottom: 3px solid #007bff;
}

.list-container {
	max-height: 300px;
	overflow-y: auto;
	border-radius: 5px;
}

.friend-item img,
.history-item img {
	width: 50px;
	height: 50px;
}

.friend-item .friend-details,
.history-item .history-details {
	flex-grow: 1;
}

.friend-item .btn,
.history-item .btn {
	min-width: 75px;
}

.profile-image-container {
    position: relative;
}

.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    bottom: 5px;
    right: 5px;
}

.online {
    background-color: #28a745;
}

.offline {
    background-color: #dc3545;
}
