.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #121421;
	padding-bottom: 40px;
}

.profile-header {
	margin-top: 36px;
	color: #fff;
	font-weight: 700;
	max-width: 928px;
}

.profile-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image {
	width: 128px;
	aspect-ratio: 1;
	object-fit: cover;
}

.profile-name {
	margin-top: 16px;
	font-size: 22px;
	font-family: Space Grotesk, sans-serif;
	text-align: center;
	letter-spacing: -0.33px;
}

.profile-actions {
	display: flex;
	gap: 12px;
	margin-top: 16px;
	font-size: 14px;
	letter-spacing: 0.21px;
	line-height: 150%;
}

.profile-action-edit {
	padding: 10px 16px;
	border-radius: 24px;
	background-color: #292b38;
}

.profile-action-play {
	padding: 10px 16px;
	border-radius: 24px;
	background-color: #1430b8;
}

.stats-section {
	width: 100%;
	max-width: 960px;
	padding: 12px 16px;
}

.stats-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.stats-column {
	flex: 1;
	min-width: calc(33.33% - 20px);
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	.stats-column {
		min-width: 100%;
	}
}

.stats-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid rgba(61, 64, 84, 1);
	flex-grow: 1;
}

.stats-content {
	display: flex;
	flex-direction: column;
	}

.stats-number {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	font-family: Space Grotesk, sans-serif;
	letter-spacing: -0.6px;
}

.stats-label {
	color: #9ea3b8;
	margin-top: 8px;
	font-size: 14px;
	font-family: Space Grotesk, sans-serif;
}

.highlighted-tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 1px 20px;
	border-bottom: 1px solid rgba(61, 64, 84, 1);
	font-size: 14px;
	font-weight: 700;
	color: #9ea3b8;
	white-space: nowrap;
	text-align: center;
	letter-spacing: 0.21px;
	line-height: 150%;
}

.highlighted-label,
.highlighted-stats,
.highlighted-friends {
	font-family: Space Grotesk, sans-serif;
	font-feature-settings: "dlig" on;
}

.highlighted-stats.active {
	color: #fff;
	border-bottom: 3px solid rgba(229, 232, 235, 1);
	padding: 16px 0 13px;
}

.history-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #121421;
	width: 100%;
	max-width: 960px;
	gap: 20px;
	padding: 8px 16px;
	line-height: 150%;
	overflow-y: scroll;
	scrollbar-width: none;
}

.history-section::-webkit-scrollbar {
	display: none;
}

.history-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 80px;
	gap: 16px;
}

.history_image_time {
	display: flex;
	align-items: center;
	gap: 16px;
}

.history-image {
	width: 56px;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
}

.history-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0;
}

.history-title {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: Space Grotesk, sans-serif;
}

.history-time {
	color: #9ea3b8;
	font-size: 14px;
	font-family: Space Grotesk, sans-serif;
}

.history-score {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: Space Grotesk, sans-serif;
	margin: auto 0;
}

@media (max-width: 991px) {
	.profile-header, .stats-section, .history-section {
		max-width: 100%;
	}

	.profile-actions {
		white-space: initial;
	}

	.stats-container {
		flex-direction: column;
		align-items: stretch;
		gap: 0;
	}

	.stats-column {
		width: 100%;
	}

	.stats-item {
		margin-top: 24px;
		padding: 0 20px;
		white-space: initial;
	}

	.highlighted-tab {
		flex-wrap: wrap;
		white-space: initial;
	}

	.highlighted-stats {
		white-space: initial;
	}

	.history-section {
		flex-wrap: wrap;
	}

	.history-item {
		flex-wrap: wrap;
	}
}


.controls {
    margin-bottom: 20px;
}

.controls button, .controls select {
    background-color: var(--button-primary-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.controls button:hover, .controls select:hover {
    background-color: var(--hover-color);
}

.controls select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

canvas {
    width: 100%;
    height: 400px;
    background: var(--card-accent-color);
    border: 1px solid var(--hover-color);
    border-radius: 8px;
}