.signup {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
}

.signup__form {
	display: flex;
	flex-direction: column;
	max-width: 512px;
	width: 100%;
	padding: 20px 0;
}

.signup__title-container {
	display: flex;
	justify-content: center;
	font-size: 22px;
	color: var(--text-color);
	font-weight: 700;
	text-align: center;
	letter-spacing: -0.33px;
	padding: 20px 16px 12px;
}

.signup__input-group {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: var(--text-accent-color);
	font-weight: 400;
	line-height: 150%;
	padding: 12px 16px;
	justify-content: center;
}

.signup__input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signup__input-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-radius: 12px;
	background-color: var(--input-background-color);
}

.signup__input-label {
	font-family: Lexend, sans-serif;
	font-feature-settings: "dlig" on;
	justify-content: center;
}

.signup__input-text {
	border-radius: 12px;
	padding: 16px;
	width: 100%;
	background-color: var(--input-background-color);
	border: none;
	outline: none;
	color: var(--input-text-color);
}

.signup__agreement-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px;
}

.signup__agreement-content {
	display: flex;
	gap: 12px;
	padding: 12px 0;
}

.signup__agreement-text {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: var(--text-color);
	font-weight: 400;
	line-height: 150%;
	justify-content: center;
}

.signup__action-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
}

.signup__action-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 10px 16px;
	color: var(--button-text-color);
	font-weight: 700;
	font-family: Lexend, sans-serif;
	text-align: center;
	line-height: 150%;
	width: 100%;
	cursor: pointer;
}

.signup__create-account-btn {
	background-color: var(--button-primary-color);
}

.signup__continue-42-btn {
	background-color: var(--input-background-color);
}

.signup__already-account {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: var(--text-accent-color);
	font-weight: 400;
	text-align: center;
	line-height: 150%;
	padding: 4px 16px 12px;
}

.signup__login-container {
	display: flex;
	margin-bottom: 18px;
	flex-direction: column;
	font-size: 14px;
	color: var(--text-color);
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.21px;
	line-height: 150%;
	justify-content: center;
	padding: 12px 16px;
}

.signup__login-btn {
	background-color: var(--create-account-button-background-color);
	border: none;
	border-radius: 12px;
	padding: 12px 16px;
	color: var(--button-text-color);
	font-weight: 700;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
