#tournament {
    overflow:hidden;
	background-color: #0F3066;
    padding-top: 30px;
    font-size: 12px;
    margin-left: 5%;
    border-radius: 35px;
	width: 90%;
    /* height: 100vh; */
    height: calc(100vh - 100px);
    padding-right: 0%;
}

#ScoreDiv{
    display: flex;
    height:50px;
    width:200px;
    left:calc(50% - 200px);
    z-index: 2;
    color:white;
    font-size: 3rem;
}

#mygame {
    position: relative;
    color: #0F3066;
}

#mygame canvas, #ScoreDiv {
    /* position: absolute; */
	/* position: inherit; */
    margin-left: 10px;
    margin-top: 80px;
}

.canvas_container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-width: medium ;
    z-index: 1;
    height: 100vh;
}

canvas {
    position: absolute;
	border-radius: 15px;
    border-width: medium ;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start_play_online, #start_play_computer {
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 200px;
    font-size: 20px;
}

#player1, #player2, #score1, #score2, #end_msg{
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #DDEEF1;
}

#player1 {
    left: 5%;
}

#score1 {
    left: 11%;
    background-color: #0D011A;
    padding: 2px;
    width: 40px;
    text-align: center;
}

#player2 {
    left: 90%;
}

#score2 {
    left: 95%;
    background-color: #0D011A;
    padding: 2px;
    width: 40px;
    text-align: center;
}

#end_game {
    left: 50%;
    top: 25%;
    background-color: #0F3066;
    color: rgb(156, 156, 156);
    font-size: 30px;
    padding: 2px;
    text-align: center;
    z-index: 9999;
}

#wait_load {
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 20%;
    border: 16px solid rgb(164, 164, 164);
    width: 140px;
    height: 140px;
    z-index: 9999;
    
    border-top: 16px solid rgb(27, 116, 20);
    border-radius: 50%;
    
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }

  /* #play_online, #game_computer, #local_game {
    height: 50px;
    width: 200px;
    font-size: 20px;
  } */