<!-- template/chat.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="chat__container">
	<div class="chat-layout">
		<aside class="sidebar col-lg-3 col-md-12">
			<div class="search-bar">
				<i class="fas fa-search search-icon"></i>
				<input type="text" class="search-input" placeholder="Search">
			</div>
			
			<div class="contacts px-3">
				<ul class="user-list list-group" id="user-listt">
					{% for friend in friends %}
						<a id="user-list-link" href="" class="list-group-item d-flex justify-content-between align-items-center">
							<div class="contact-details d-flex align-items-center position-relative">
								<div class="position-relative">
									<img src="{{ friend.image.url }}" alt="{{ friend.user.username }}" class="contact-profile-image me-2">
									<span class="chat__status-indicator {% if friend.user.user_things.status == 'online' %}chat__online{% else %}chat__offline{% endif %}"></span>
								</div>
								<div class="contact-info">
									<div class="contact-name">{{ friend.user.username }}</div>
								</div>
							</div>
							<i class="fa-solid fa-sliders contact-action" data-username="{{ friend.user.username }}"></i>
						</a>
					{% endfor %}
				</ul>
				<div id="dropdownMenu" class="dropdown-menu">
					<ul class="list-group">
						<li class="list-group-item" id="view-profile">View Profile</li>
						<li class="list-group-item" id="block-user">Block User</li>
						<li class="list-group-item" id="unblock-user">Unblock User</li>
						<li class="list-group-item" id="invite-to-game">Invite to Game</li>
					</ul>
				</div>
			</div>
				
		</aside>
		<section class="chat-window col-lg-9 col-md-12">
			<div class="chat-header">Select user to chat</div>
			<div class="chat">
				<div class="messages" id="messages">
				</div>
			</div>
			<div class="input-container">
				<div class="input-wrapper">
					<input style="background-color: #292b38; color: white;" type="text" class="form-control message-input" id="chat-input" placeholder="Type a message...">
					<button class="btn send-button" id="btn-send"><i class="fas fa-paper-plane"></i></button>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}
