
{% extends 'pong/base_no_header.html' %}


{%block login%}
    <div class="left">
        <div  id="login-section">
            <div id="login-section-inside">
                <form id="login-form" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {% load crispy_forms_tags %}
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <button id="login" class="btn custom-btn">Log in</button>
                    </div>
                </form>
                <div class="row">
                    <div class="col"> <hr> </div>
                    <div class="col-auto light-weight">or</div>
                    <div class="col"><hr> </div>
                </div>
                <div class="text-center">
                    <button id="loginWith42" class="btn custom-btn btn-block mb-4"> <img id="loginWith42" class="article-img2" src="/media/42_logo.svg"> Continue with 42 </button>
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need An Account? <a id="req_register"  class="ml-2" href="#">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="login-section">
            <div class="text-center">
                <img src="/media/logo.png" alt="" class="text-center">
            </div>
            <p class="light-weight">To keep connected with us please login with your personal info</p>
            <legend class="stylish">&ltServe It&gt <br>&ltSmash It&gt<br>&ltWin It!&gt</legend>
        </div>
    </div>
{%endblock%}
