
{% extends 'pong/base.html' %}

{% block content %}
    <div class="content-section">
        <form id="login-form" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                {% load crispy_forms_tags %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button id="login" class="btn btn-info btn-block">Log in</button>
            </div>
            <div>
                <button id="loginWith42" class="btn btn-secondary btn-block"> <img class="article-img2" src="/media/42_logo.svg"> Continue with 42 </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a id="req_register"  class="ml-2" href="#">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock %}