{% extends "pong/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="p-left">
	<div class= "p-content-section">
		<div class="text-center">
			<img class="rounded-circle account-img ml-4" src="{{ user.profile.image.url }}">
			<h2 class="account-heading">{{ user.user_things.nick }}</h2>
			<!-- <div class="media-body text-left px-4">
				<p class="light-weight">{{ user.email }}</p>
				<p class="light-weight"> status : {{user.user_things.status}}</p>
			</div> -->
			<button class="btn p-custom-btn mt-4" type="submit">Enable 2FA</button> <br>
			<button id="logout" class="btn p-custom-btn mt-4" type="submit">Log out</button>
		</div>
		<form id="profile-form" method="POST" class="form-signin" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group text-left px-4">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form2|crispy }}
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group text-center">
				<button id="update" class="btn p-custom-btn" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>
<div class="p-right">
	<div class="content-section">
		<table>
			<tr>
				<th>TOTAL MATCH</th>
				<th>WON</th>
				<th>LOST</th>
				<th>WINNING RATE</th>
				<th>TOTAL POINTS</th>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
		</table>
		
	</div>
	<div class="content-section">
		<table>
			<tr>
				<th>TOTAL MATCH</th>
				<th>WON</th>
				<th>LOST</th>
				<th>WINNING RATE</th>
				<th>TOTAL POINTS</th>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
			<tr>
				<td>243</td>
				<td>123</td>
				<td>120</td>
				<td>50%</td>
				<td>1234</td>
			</tr>
		</table>
		
	</div>
</div>
{% endblock %}