{% load static %}

<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link" id="home">Home</a></li>
            <li class="footer__item"><a href="#" class="footer__link" id="leaderboard">Leaderboard</a></li>
            <li class="footer__item"><a href="#" class="footer__link" id="privacy">Privacy & Terms</a></li>
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
        </ul>
    </nav>
    <div class="footer__developed">
        <p class="footer__text">Developed by "The Four Negus"</p>
    </div>
</footer>
