
{% load static %}

<footer class="footer">
	<nav class="footer__nav">
		<ul class="footer__list">
			<li class="footer__item"><a href="#" class="footer__link">Home</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Games</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Leaderboard</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Privacy</a></li>
		</ul>
	</nav>
</footer>