{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-xxl">
		<a class="navbar-brand" href="#" id="home">
			<img loading="lazy" src="/media/images/logo.svg" alt="PongBuddies Logo" width="30" height="30" class="d-inline-block align-top">
			PongBuddies
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				{% if user.is_authenticated %}
					<li class="nav-item me-2"><a title="profile" id="profile" class="nav-link" href="#" onclick="loadProfile('{{ request.user.username }}'); return false;">Profile</a></li>
					<li class="nav-item me-2"><a class="nav-link" href="#">Tournaments</a></li>
					<li class="nav-item me-2"><a title="leaderboard" id="leaderboard" class="nav-link" href="#">Leaderboard</a></li>
					<li class="nav-item me-2"><a title="Chat" id="chatLink" class="nav-link" href="#">Chat</a></li>
					<li class="nav-item me-2"><a title="about" id="about" class="nav-link" href="#">About</a></li>
					<li class="nav-item me-auto"><button id="logout" class="nav-link btn btn-primary" type="submit">Log out</button></li>
				{% else %}
					<li class="nav-item me-2"><a class="nav-link" href="#" id="home">Home</a></li>
					<li class="nav-item me-2"><a title="about" class="nav-link" href="#" id="about">About</a></li>
					<li class="nav-item me-auto" title="Login"><a id="req_login" class="nav-link btn btn-primary" href="{% url 'login' %}">Log In</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
