{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="login-container">
	<section class="login-form-wrapper">
		<h1 class="login-title">
			<span class="login-welcome-text">Welcome to PongBuddies</span>
		</h1>
		<form id="login-form" class="form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<div class="form-group">
				<div class="form-group__wrapper">
					<div class="form-group__box">
						<label for="emailInput" class="visually-hidden">User name</label>
						<input type="email" id="emailInput" name="username" placeholder="User name" class="form-group__input" aria-label="User name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-group__wrapper">
					<div class="form-group__box">
						<label for="passwordInput" class="visually-hidden">Password</label>
						<input type="password" id="passwordInput" name="password" placeholder="Password" class="form-group__input" aria-label="Password">
					</div>
				</div>
			</div>
			<div class="form-group__button-wrapper">
				<button id="login" type="submit" class="form-group__button">Log in</button>
			</div>
		</form>
		<div class="login-or-text">or</div>
		<div class="login-continue-button-wrapper">
			<button type="button" class="login-other-button" id="loginWith42">Continue with 42</button>
		</div>
		<div class="login-new-user-text">New to PongBuddies?</div>
		<div class="login-create-account-wrapper">
			<button id="req_register" type="button" class="login-create-account-button">Create an account</button>
		</div>
	</section>
</div>

{% endblock %}
