{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="profile-container container">
	<header class="profile-header text-center">
		<article class="profile-details">
			<img loading="lazy" src="{{ user.profile.image.url }}" alt="profile picture" class="profile-image img-fluid rounded-circle" />
			<h2 class="profile-name">{{ username }}</h2>
			<div class="profile-actions d-flex justify-content-center mt-3 gap-2">
				{% if is_own_profile %}
					<button class="btn btn-outline-light profile-action-edit" id="edit_profile">Edit</button>
				{% else %}
					<button class="btn btn-outline-light rounded-pill profile-action-add-friend" onclick="addFriend('{{username}}')">Add Friend</button>
					<button class="btn btn-primary profile-action-play">Play</button>
				{% endif %}
			</div>
		</article>
	</header>

	<section class="stats-section my-4">
		<div class="row stats-container">
			<div class="col-md-4 stats-column">
				<div class="stats-item text-center py-3">
					<div class="stats-content">
						<span class="stats-number">{{ total_games }}</span>
						<p class="stats-label">Games</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 stats-column">
				<div class="stats-item text-center py-3">
					<div class="stats-content">
						<span class="stats-number">{{ total_wins }}</span>
						<p class="stats-label">Wins</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 stats-column">
				<div class="stats-item text-center py-3">
					<div class="stats-content">
						<span class="stats-number">{{ total_losses }}</span>
						<p class="stats-label">Losses</p>
					</div>
				</div>
			</div>
	</section>

	<nav class="highlighted-tab d-flex justify-content-between border-bottom py-2 mb-3">
		<div class="highlighted-label" id="stats-tab">Stats</div>
		<div class="highlighted-stats active" id="history-tab">History</div>
		<div class="highlighted-friends" id="friends-tab">Friends</div>
	</nav>
	
	<section id="history-section" class="history-section">
		{% if games|length == 0 %}
			<div class="history-item d-flex justify-content-between align-items-center py-2">
				<div class="d-flex align-items-center gap-3">
					<div class="history-details">
						<span class="history-title">No games played yet</span>
					</div>
				</div>
			</div>
		{% endif %}
		{% for match in games %}
			<div class="history-item d-flex justify-content-between align-items-center py-2">
				<div class="d-flex align-items-center gap-3">
					<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8eb8f23fe11a3c3450466bbe658d6ea00a2675736ea982f17c716d8e2cc722ea?apiKey=d2095187850a4552946c7d55d8bfdb90&" alt="History item image" class="history-image rounded-circle" />
					<div class="history-details">
						{% if match.winner == user and match.player1 == user %}
							<span class="history-title">You won against {{ match.player2 }}</span>
						{% elif match.winner == user and match.player2 == user %}
							<span class="history-title">You won against {{ match.player1 }}</span>
						{% elif match.player1 == user %}
							<span class="history-title">You lost to {{ match.player2 }}</span>
						{% else %}
							<span class="history-title">You lost to {{ match.player1 }}</span>
						{% endif %}
						<time class="history-time">{{ match.date }}</time>
					</div>
				</div>
				<span class="history-score">{{match.player1_score}} - {{match.player2_score}}</span>
			</div>
		{% endfor %}
	</section>

	<section id="friends-section" class="friends-section d-none">
		
		<div id="friends-list" class="list-container">
			{% if friends|length == 0 %}
				<div class="friend-item d-flex justify-content-between align-items-center py-2">
					<div class="d-flex align-items-center gap-3">
						<div class="friend-details">
							<span class="friend-name">No friends found</span>
						</div>
					</div>
				</div>
			{% endif %}
			{% for friend in friends %}
				<div class="friend-item d-flex justify-content-between align-items-center py-2">
					<div class="d-flex align-items-center gap-3">
						<a href="{% url 'profile' friend.username %}">
							<img loading="lazy" src="{{ friend.profile.image.url }}" alt="Friend's profile image" class="friend-image rounded-circle" />
						</a>
						<div class="friend-details">
							<a href="{% url 'profile' friend.username %}" class="friend-name">{{ friend.username }}</a>
						</div>
					</div>
					<button class="btn btn-danger btn-sm" onclick="removeFriend('{{ friend.username }}')">Remove</button>
				</div>
			{% endfor %}
		</div>
		<div id="non-friends-list" class="list-container mt-4">
			<h5>All Players</h5>
			<div class="search-bar">
				<i class="fas fa-search search-icon"></i>
				<input type="text" class="search-input" placeholder="Search Players">
			</div>
			{% for non_friend in non_friends %}
				<div class="friend-item d-flex justify-content-between align-items-center py-2">
					<div class="d-flex align-items-center gap-3">
						<a href="{% url 'profile' non_friend.username %}">
							<img loading="lazy" src="{{ non_friend.profile.image.url }}" alt="Non-friend's profile image" class="friend-image rounded-circle" />
						</a>
						<div class="friend-details">
							<a href="{% url 'profile' non_friend.username %}" class="friend-name">{{ non_friend.username }}</a>
						</div>
					</div>
					<button class="btn btn-outline-success btn-sm" onclick="addFriend('{{ non_friend.username }}')">Add Friend</button>
				</div>
			{% endfor %}
		</div>
	</section>


    <section id="stats-section" class="stats-section d-none">
        <canvas id="gamesChart" width="400" height="200"></canvas>
    </section>
    <script id="gamesData" type="application/json">{{ games2|safe }}</script>
    <script>
        const user_id = {{ user.id }};
    </script>


</section>

{% endblock %}
