{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="signup">
	<form class="signup__form">
		<div class="signup__title-container">
			<div class="signup__title-text">Create an account</div>
		</div>
		<div class="signup__input-group">
			<div class="signup__input-container">
				<div class="signup__input-box">
					<label for="usernameInput" class="signup__input-label visually-hidden">User name</label>
					<input type="text" id="usernameInput" placeholder="Enter your user name" class="signup__input-text" aria-label="User name" />
				</div>
			</div>
		</div>
		<div class="signup__input-group">
			<div class="signup__input-container">
				<div class="signup__input-box">
					<label for="emailInput" class="signup__input-label visually-hidden">Email address</label>
					<input type="email" id="emailInput" placeholder="Enter your email address" class="signup__input-text" aria-label="Email address" />
				</div>
			</div>
		</div>
		<div class="signup__input-group">
			<div class="signup__input-container">
				<div class="signup__input-box">
					<label for="passwordInput" class="signup__input-label visually-hidden">Password</label>
					<input type="password" id="passwordInput" placeholder="Enter your password" class="signup__input-text" aria-label="Password" />
				</div>
			</div>
		</div>
		<div class="signup__agreement-container">
			<div class="signup__agreement-content">
				<div class="signup__agreement-text">By creating an account, you agree to our Terms of Service and Privacy Policy.</div>
			</div>
		</div>
		<div class="signup__action-buttons">
			<button class="signup__action-button signup__create-account-btn">Create account</button>
		</div>
		<div class="signup__action-buttons">
			<button class="signup__action-button signup__continue-42-btn">Continue with 42</button>
		</div>
		<div class="signup__already-account">Already have an account?</div>
		<div class="signup__login-container">
			<button class="signup__action-button signup__login-btn">Login</button>
		</div>
	</form>
</div>
{% endblock %}
