
{% extends 'pong/base.html' %}
{% block content %}
	<div class="jumbotron">
        <p> <strong> Welcome to the Ping Pong Tournament App!</strong> This app is crafted for Ping Pong enthusiasts to experience the excitement of tournaments online.</p>
            <h2>Features:</h2>
            <ul class="list-container">
                <li>Participate in online multiplayer Ping Pong tournaments</li>
                <li>Intuitive and user-friendly interface</li>
                <li>Real-time scoring and detailed game statistics</li>
            </ul>
            
            <p>Our mission is to create a vibrant and competitive platform for Ping Pong enthusiasts worldwide. Dive into the app, compete in tournaments, and enjoy the thrill of the game!</p>
    </div>
{% endblock %}
					