<div class="demo py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 mb-4">
				<div class="card h-100 border-0 shadow-sm">
					<div class="card-img-top overflow-hidden position-relative">
						<img class="w-100" src="/media/aboutus/panda.jpg" alt="Alexander Andom's Avatar"/>
						<ul class="social list-inline p-0 m-0 w-100 position-absolute d-flex justify-content-center align-items-center">
							<li class="list-inline-item"><a href="#"><img src="/media/42_logo.svg" alt="42 intra" style="width: 20px; height: auto;"/></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa-brands fa-github"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="card-body-aboutus text-center">
						<h5 class="card-title">Alexander Andom</h5>
						<p class="card-text">Software Engineer</p>
						<p class="card-text">Email: <b>aandom@student.42abudhabi.ae</b></p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 mb-4">
				<div class="card h-100 border-0 shadow-sm">
					<div class="card-img-top overflow-hidden position-relative">
						<img class="w-100" src="/media/aboutus/Shifu.webp" alt="Degef Sium's Avatar"/>
						<ul class="social list-inline p-0 m-0 w-100 position-absolute d-flex justify-content-center align-items-center">
							<li class="list-inline-item"><a href="#"><img src="/media/42_logo.svg" alt="42 intra" style="width: 20px; height: auto;"/></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa-brands fa-github"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="card-body-aboutus text-center">
						<h5 class="card-title">Degef Sium</h5>
						<p class="card-text">Software Engineer</p>
						<p class="card-text">Email: <b>dsium@student.42abudhabi.ae</b></p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 mb-4">
				<div class="card h-100 border-0 shadow-sm">
					<div class="card-img-top overflow-hidden position-relative">
						<img class="w-100" src="/media/aboutus/oogway.webp" alt="Merhawi Kiflemariam's Avatar"/>
						<ul class="social list-inline p-0 m-0 w-100 position-absolute d-flex justify-content-center align-items-center">
							<li class="list-inline-item"><a href="#"><img src="/media/42_logo.svg" alt="42 intra" style="width: 20px; height: auto;"/></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa-brands fa-github"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="card-body-aboutus text-center">
						<h5 class="card-title">Merhawi Kiflemariam</h5>
						<p class="card-text">Software Engineer</p>
						<p class="card-text">Email: <b>mkiflema@student.42abudhabi.ae</b></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4 justify-content-center">
			<div class="col-md-4 col-sm-6 mb-4">
				<div class="card h-100 border-0 shadow-sm">
					<div class="card-img-top overflow-hidden position-relative">
						<img class="w-100" src="/media/aboutus/kai.webp" alt="Steve Deffo's Avatar"/>
						<ul class="social list-inline p-0 m-0 w-100 position-absolute d-flex justify-content-center align-items-center">
							<li class="list-inline-item"><a href="#"><img src="/media/42_logo.svg" alt="42 intra" style="width: 20px; height: auto;"/></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa-brands fa-github"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="card-body-aboutus text-center">
						<h5 class="card-title">Steve Deffo</h5>
						<p class="card-text">Software Engineer</p>
						<p class="card-text">Email: <b>desteve@student.42abudhabi.ae</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 mb-4">
				<div class="card h-100 border-0 shadow-sm">
					<div class="card-img-top overflow-hidden position-relative">
						<img class="w-100" src="/media/aboutus/lung.jpeg" alt="Tomas Petros's Avatar"/>
						<ul class="social list-inline p-0 m-0 w-100 position-absolute d-flex justify-content-center align-items-center">
							<li class="list-inline-item"><a href="#"><img src="/media/42_logo.svg" alt="42 intra" style="width: 20px; height: auto;"/></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa-brands fa-github"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="card-body-aboutus text-center">
						<h5 class="card-title">Tomas Petros</h5>
						<p class="card-text">Software Engineer</p>
						<p class="card-text">Email: <b>tpetros@student.42abudhabi.ae</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
