<div id="tournament" class="canvas_container" class="container border">
    <div id="playerNames" class="row player-names-container d-flex align-items-center">
        <div id="player1Name" class="col player-name d-flex justify-content-start">
          You
        </div>
        <div id="player2Name" class="col player-name d-flex justify-content-end">
          Computer
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <canvas id="gameCanvas" class="game-canva-local" width="750" height="440"></canvas>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col button-container">
            <button id="start_play_computer" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="start_play_computer()">Start</button> <br>
            <button id="restart_btn" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="start_play_computer()">Restart</button> <br>
            <button id="quit_game" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="goBack()">Quit</button> <br>
        </div>
    </div>
</div>
