<div class="container__home container d-flex flex-column align-items-center w-100">
	<section class="main-section flex-column w-100" role="region" aria-labelledby="main-heading">
		<h2 id="main-heading" class="visually-hidden">Main Section</h2>
		
		<article class="card-container d-flex flex-column justify-content-center mb-4">
			<div class="card position-relative text-center">
				<img loading="lazy" src="/media/images/animatedhome.gif" alt="Play Pong game" class="card-img position-absolute object-fit-cover w-100 h-100">
			</div>
		</article>
		
		<article class="details-section d-flex flex-column justify-content-center" role="region" aria-labelledby="details-heading">
			<h3 id="details-heading" class="visually-hidden">Game Options</h3>
			<div class="row">
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between" role="group" aria-labelledby="play-computer-heading">
						<div class="details-title">
							<h4 id="play-computer-heading" class="subtitle">Play Against Computer</h4>
							<p class="details-desc">Sharpen your skills with a game against the computer</p>
						</div>
						<button class="btn btn-primary custom-button justify-content-center" id="game_computer" aria-label="Play against computer">Play Against Computer</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between" role="group" aria-labelledby="play-local-heading">
						<div class="details-title">
							<h4 id="play-local-heading" class="subtitle">Play Local</h4>
							<p class="details-desc">Play a game with a friend on the same device</p>
						</div>
						<button class="btn btn-primary custom-button justify-content-center" id="local_game" aria-label="Play against local player">Play Against Local Player</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between" role="group" aria-labelledby="play-online-heading">
						<div class="details-title">
							<h4 id="play-online-heading" class="subtitle">Play Online</h4>
							<p class="details-desc">Play a game with a friend on a different device</p>
						</div>
						<button class="btn btn-primary custom-button justify-content-center" id="play_online" aria-label="Play against remote player">Play Against Remote Player</button>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between" role="group" aria-labelledby="offline-tournament-heading">
						<div class="details-title">
							<h4 id="offline-tournament-heading" class="subtitle">Offline Tournament</h4>
							<p class="details-desc">Play offline tournament with friends on the same device</p>
						</div>
						<button class="btn btn-primary custom-button justify-content-center" id="offline_tourn" aria-label="Join offline tournament">Join Offline Tournament</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between" role="group" aria-labelledby="online-tournament-heading">
						<div class="details-title">
							<h4 id="online-tournament-heading" class="subtitle">Online Tournament</h4>
							<p class="details-desc">Join online tournament and compete with the best</p>
						</div>
						<button class="btn btn-primary custom-button justify-content-center" id="online_tourn" aria-label="Join online tournament">Join Online Tournament</button>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
