{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container__home container">

	<div id="custom-confirm" class="modal">
		<div class="modal-content">
			<p id="challenge-message" class="text-large">you have been challenged by Degef</p>
			<div>
				<button id="decline-button" class="btn btn-outline-light btn-lg mb-3">Decline</button>
				<button id="accept-button" class="btn btn-outline-light btn-lg mb-3">Accept</button>
			</div>
		</div>
	</div>

	
	<section class="main-section">
		<article class="card-container mb-4">
			<div class="card position-relative text-center">
				<img loading="lazy" src="/media/images/home.png" alt="Play Pong game" class="card-img">
				<div class="card-body play-section">
					<h3 class="card-title play-title">Play Pong with friends</h3>
				</div>
			</div>
		</article>

		<article class="details-section">
			<div class="row">
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between">
						<div class="details-title">
							<h4 class="subtitle">Play Against Computer</h4>
							<p class="details-desc">Sharpen your skills with a game against the computer</p>
						</div>
						<button class="btn btn-primary custom-button" id="game_computer">Play Against Computer</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between">
						<div class="details-title">
							<h4 class="subtitle">Play Local</h4>
							<p class="details-desc">Play a game with a friend on the same device</p>
						</div>
						<button class="btn btn-primary custom-button" id="local_game">Play Local</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between">
						<div class="details-title">
							<h4 class="subtitle">Play Online</h4>
							<p class="details-desc">Play a game with a friend on the different device</p>
						</div>
						<button class="btn btn-primary custom-button" id="play_online">Play Against Remote Player</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between">
						<div class="details-title">
							<h4 class="subtitle">Offline Tournament</h4>
							<p class="details-desc">Play offline tournament with a friends on the same device</p>
						</div>
						<button class="btn btn-primary custom-button" id="offline_tourn" >Offline</button>
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<div class="details-card p-3 h-100 d-flex flex-column justify-content-between">
						<div class="details-title">
							<h4 class="subtitle">Online Tournament</h4>
							<p class="details-desc">Join online tournament and compete with the best</p>
						</div>
						<button class="btn btn-primary custom-button" id="online_tourn" >Online</button>
					</div>
				</div>
			</div>
		</article>
		
	</section>
</div>
{% endblock %}
