<div class="row leaderboard__row leaderboard__row--header">
	<div class="col-1 leaderboard__cell text-center">#</div>
	<div class="col-3 leaderboard__cell text-center">Player</div>
	<div class="col-2 leaderboard__cell text-center d-none d-md-block">Wins</div>
	<div class="col-2 leaderboard__cell text-center d-none d-lg-block">Win Rate</div>
	<div class="col-2 leaderboard__cell text-center d-none d-lg-block">Games Played</div>
</div>

{% for player in leaderboard_data %}
<div class="row leaderboard__row">
	{% if player.user.username == request.user.username %}
		{% if forloop.counter == 1%}
			<div class="col-1 leaderboard__cell text-center"><i class="fa-solid fa-crown"></i></div>
		{% else %}
			<div class="col-1 leaderboard__cell text-center">{{ forloop.counter }}</div>
		{% endif %}
		<div class="col-3 leaderboard__cell text-center" role="button" onclick="loadProfile('{{ player.user.username }}'); return false;"><strong>{{ player.user.username }}</strong></div>
	{% else %}
		{% if forloop.counter == 1%}
			<div class="col-1 leaderboard__cell text-center"><i class="fa-solid fa-crown"></i></div>
		{% else %}
			<div class="col-1 leaderboard__cell text-center">{{ forloop.counter }}</div>
		{% endif %}
		<div class="col-3 leaderboard__cell text-center" role="button" onclick="loadProfile('{{ player.user.username }}'); return false;">{{ player.user.username }}</div>
	{% endif %}
	<div class="col-2 leaderboard__cell text-center d-none d-md-block">{{ player.wins }}</div>
	<div class="col-2 leaderboard__cell text-center d-none d-lg-block">{{ player.win_rate|floatformat:2 }}%</div>
	<div class="col-2 leaderboard__cell text-center d-none d-lg-block">{{ player.wins|add:player.losses }}</div>
</div>
{% endfor %}
