{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="leaderboard py-5">
	<div class="container">
		<header class="leaderboard__header ms-2 mb-4">
			<h1 class="leaderboard__title">Leaderboard</h1>
		</header>
		<nav class="leaderboard__tabs nav mb-4">
			<a class="nav-link active" href="#">All Time</a>
			<a class="nav-link" href="#">This Week</a>
			<a class="nav-link" href="#">This Month</a>
		</nav>
		<div class="leaderboard__container">
			<div class="row leaderboard__row leaderboard__row--header">
				<div class="col-1 leaderboard__cell">#</div>
				<div class="col-3 leaderboard__cell">Player</div>
				<div class="col-2 leaderboard__cell">Wins</div>
				<div class="col-2 leaderboard__cell">Win Rate</div>
				<div class="col-2 leaderboard__cell">Games Played</div>
			</div>
			{% for player in leaderboard_data %}
			<div class="row leaderboard__row">
				<div class="col-1 leaderboard__cell">{{ forloop.counter }}</div>
				<div class="col-3 leaderboard__cell">{{ player.username }}</div>
				<div class="col-2 leaderboard__cell">{{ player.total_wins }}</div>
				<div class="col-2 leaderboard__cell">{{ player.win_rate|floatformat:2 }}%</div>
				<div class="col-2 leaderboard__cell">{{ player.games_played }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
