
{% extends 'base.html' %}


{% block content %}
            <div id="tournament" class="canvas_container" class="container border">
                <div id="playerNames" class="row player-names-container d-flex align-items-center">
                    <div id="player1Name" class="col player-name d-flex justify-content-start">
                      {{player1}}
                    </div>
                    <div id="player2Name" class="col player-name d-flex justify-content-end">
                      {{player2}}
                    </div>
                </div>
                <div id="scoreSection" style="display: none;">
                  <div class="row">
                      <div class="col">
                          <p id="player1ScoreDisplay">0</p>
                          <p id="player2ScoreDisplay">0</p>
                      </div>
                  </div>
                </div>
                  
                <div class="row">
                    <div class="col">
                        <canvas id="gameCanvas" width="600" height="400"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col button-container">
                        <button id="start_play_computer" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="start_local_game()">Start</button> <br>
                        <button id="restart_btn" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="start_local_game()">Restart</button> <br>
                        <button id="quit_game" class="btn btn-outline-light mt-3 btn-custom" type="submit" onclick="goBack()">Quit</button> <br>
                    </div>
                </div>
            </div>
{% endblock %}
