{% if players_list|length == 4 %}
<section id="bracket">
  <div class="custom-container">
  <div class="split split-one">
    <div class="round round-one current">
      <div class="round-details">Round 1<br/></div>
      <ul class="matchup">
        <li class="team team-top">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> {{ players_list.0.username }} </span>
          <input class="score-input" type="number" value="">
        </li>
        <li class="team team-bottom">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> {{ players_list.1.username }} </span>
          <input class="score-input" type="number" value="">
        </li>
      </ul>								
    </div>	<!-- END ROUND ONE -->
  </div> 

<div class="champion">
    <div class="final">
      <i class="fa fa-trophy"></i>
      <div class="round-details">Final <br/></div>		
      <ul class ="matchup championship">
        <li class="team team-top">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> &nbsp; </span>
          <input class="score-input" type="number" value="">
        </li>
        <li class="team team-bottom">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> &nbsp; </span>
          <input class="score-input" type="number" value="">
        </li>
      </ul>
    </div>
  </div>


  <div class="split split-two">
    <div class="round round-one current">
      <div class="round-details">Round 1<br/></div>
      <ul class="matchup">
        <li class="team team-top">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> {{ players_list.2.username }} </span>
          <input class="score-input" type="number" value="">
        </li>
        <li class="team team-bottom">
          <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
          <span class="player-name"> {{ players_list.3.username }} </span>
          <input class="score-input" type="number" value="">
        </li>
      </ul>						
    </div>	<!-- END ROUND ONE -->          				
  </div>
  </div>
</section>
{% else %}
  <section id="bracket">
    <div class="custom-container">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br/></div>
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.0.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.1.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.2.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.3.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>										
      </div>	<!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br/></div>			
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>							
      </div>	<!-- END ROUND TWO -->	
    </div> 

  <div class="champion">
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">Final <br/></div>		
        <ul class ="matchup championship">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>
      </div>
    </div>


    <div class="split split-two">

      <div class="round round-two">
        <div class="round-details">Round 2<br/></div>						
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> &nbsp; </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>										
      </div>	<!-- END ROUND TWO -->
      <div class="round round-one current">
        <div class="round-details">Round 1<br/></div>
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.4.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.5.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.6.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
          <li class="team team-bottom">
            <img src="/media/images/pro3.jpeg" alt="Player2's profile picture" class="player-image">
            <span class="player-name"> {{ players_list.7.username }} </span>
            <input class="score-input" type="number" value="">
          </li>
        </ul>								
      </div>	<!-- END ROUND ONE -->          				
    </div>
    </div>
  </section>
{% endif %}  