<h1 class="main-title">Privacy and Terms</h1>
<section class="main-content">
	<h2 class="section-title">Collection and Use of Personal Information</h2>
	<p class="section-content">
		You may be asked to provide your personal information anytime you are in contact with Pong. Pong and its affiliates may share this personal information with each other and use it consistent with this Privacy Policy. They may also combine it with other information to provide and improve our products, services, content, and advertising.
	</p>
	<h3 class="section-title">What personal information we collect</h3>
	<p class="section-content">- When you create an account, we collect the username, email address, and password. We also collect your IP address, device type, and browser version.</p>
	<h3 class="section-title">How we use your personal information</h3>
	<p class="section-content">- Your username and profile picture will be visible to other users. Your email and IP address will not be visible to other users. We may use your email to send you updates about the game.</p>
	<h3 class="section-title">Data Storage</h3>
	<p class="section-content">Pong stores user data on a secure server hosted by Amazon Web Services.</p>
	<h3 class="section-title">Data Sharing</h3>
	<p class="section-content">We do not share user data with third parties.</p>
	<h3 class="section-title">User Content Guidelines</h3>
	<p class="section-content">- You may not use the service to post violent, discriminatory, or sexually explicit content.</p>
	<h3 class="section-title">Dispute Resolution</h3>
	<p class="section-content">If you have a dispute with Pong, you agree to resolve the dispute through binding arbitration.</p>
</section>